<!DOCTYPE html>
<html lang="en">
<head>
    <title>Write</title>

    <%- include("partials/header.ejs")%>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="/" class="nav-link px-2 my_nav_link">Read</a></li>
                <li><a href="/write" class="nav-link px-2 text-white">Write</a></li>
                <li><a href="/edit" class="nav-link px-2 my_nav_link">Edit</a></li>
            </ul>

            <h1>the blog</h1>
        </div>
    </div>
</header>
<main>
    <div id="container" class="container text-left">
        <div class="row">
            <div id="right_column" class="col write-container">
                <form action="/submit" method="POST">
                    <label for="post_title">Post Title:</label>
                    <input type="text" name="post_title" id="post_title" class="blog_font" required>
                    <label for="post_body">Post Body:</label>
                    <textarea rows="10" name="post_body" id="post_body" class="blog_font" required></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

</main>

<%- include("partials/footer.ejs")%>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<script src="/js/script.js"></script>
</body>
</html>
